{% extends "layout.html" %}
{% block toollogo %}
<a href="{{url_for('blast')}}"><img src="{{url_for('static', filename='blast_logo_small.png')}}"></a>
{% endblock %}
{% block title %}: BLAST{% endblock %}
{% block body %}
  <div class="page-header">
    <h1>BLAST <small>a sequence</small></h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <form action="{{ url_for('blast') }}" method="post" enctype="multipart/form-data" role="form">

        <div class="form-group">
          <label for="file">Upload a file</label>
          <input type="file" name="file" id="file" class="form-control">
        </div>

        <div class="form-group">
          <label for="paste">or paste the sequence directly</label>
          <textarea name="paste" id="paste" rows="20" cols="80" class="form-control">{{sequence}}</textarea>
        </div>

        <div class="form-group">
          <label for="blastdb">in</label>

          <select name="blastdb" id="blastdb" class="form-control">
            {% for name, value in blastdbs:  %}
            <option value="{{value}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label class="radio-inline" for="nucl">blastn (DNA)<input type="radio" name="seqtype" value="nucl" id="nucl" checked></label>
          <label class="radio-inline" for="prot">blastp (protein)<input type="radio" name="seqtype" value="prot" id="prot"></label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
