{% extends "layout.html" %}
{% block body %}
  <div class="page-header">
    <h1>Get Feature <small>from genome file by locus tag</small></h1>
  </div>
    <a class="btn btn-default" href="{{url_for('get_feature')}}">New search</a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Looked for tag <span class="get-feature-tag">{{tag}}</span> in
        <span class="get-feature-organism">{{organism}}</span>.
      </div>
      <div class="panel-body">
        <form action="{{ url_for('to_blast') }}" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
          <textarea class="form-control" rows="20" cols="80" name="feature">{{feature}}</textarea>
          <button type="submit" class="btn btn-primary" id="blast">BLAST this</button>
        </form>
      </div>
    </div>
{% endblock %}
