{% extends "layout.html" %}
{% block title %}: GetFeature{% endblock %}
{% block body %}
  <div class="page-header">
    <h1>Get Feature <small>from genome file by locus tag</small></h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">

      <form action="{{ url_for('get_feature') }}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
      <div class="form-group col-sm-offset-1 col-sm-11">
        <label class="radio-inline" for="dna">DNA<input type="radio" name="format" value="dna" id="dna" checked></label>
        <label class="radio-inline" for="long_dna">DNA including UTR<input type="radio" name="format" value="long_dna" id="long_dna"></label>
        <label class="radio-inline" for="mrna">mRNA<input type="radio" name="format" value="mrna" id="mrna"></label>
        <label class="radio-inline" for="protein">Protein<input type="radio" name="format" value="protein" id="protein"></label>
        <label class="radio-inline" for="promotor">5' UTR<input type="radio" name="format" value="promotor" id="promotor"></label>
      </div>

      <div class="form-group">
        <label for="locus_tag" class="control-label col-sm-2">Look for</label>
        <div class="col-sm-10">
          <input type="text" name="locus_tag" id="locus_tag" value="{{ tag }}" class="form-control" placeholder="Locus Tag">
          <p id="get-feature-locus-tag-example" class="help-block">Example locus tags would be <span class="get-feature-tag">SCO4711</span>,
          <span class="get-feature-tag">S._collinus_4711</span> or <span class="get-feature-tag">Abals24C15_4711</span>,
          use <span class="get-feature-tag">all</span> to get all ORFs.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="organism" class="control-label col-sm-2">in</label>
        <div class="col-sm-10">
          <select name="organism" id="organism" class="form-control">
            {% for name, value in organisms:  %}
            <option value="{{value}}">{{name}}</option>
            {% endfor %}
            <option value="uploaded">uploaded file</option>
          </select>
        </div>
      </div>

      <div class="form-group optional-upload">
        <label for="file" class="control-label col-sm-2">Upload a file</label>
        <div class="col-sm-10">
          <input type="file" name="file" id="file" class="form-control">
          <p class="help-block">Upload an EMBL or GenBank file with annotated ORFs</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
function display_locus_tag() {

    var organism = $("#organism").val();
    if (organism == "uploaded") {
      $("#get-feature-locus-tag-example").html('Example locus tags would be ' +
          '<span class="get-feature-tag">SCO4711</span>, ' +
          '<span class="get-feature-tag">S._collinus_4711</span> or ' +
          '<span class="get-feature-tag">Abals24C15_4711</span>, ' +
          'use <span class="get-feature-tag">all</span> to get all ORFs.');
      return;
    }
    $.getJSON("{{ url_for('.get_example_locus_tag', organism='') }}" + organism, function(json) {
        if (json.error) {
            return;
        }
        $("#get-feature-locus-tag-example").html('An example locus tag would be <span class="get-feature-tag">' +
          json.locus_tag + '</span>, use <span class="get-feature-tag">all</span> to get all ORFs.');
    });
}

function toggle_file_upload() {
    var organism = $("#organism").val();
    if (organism == "uploaded") {
        $(".optional-upload").show();
    } else {
        $(".optional-upload").hide();
    }
}

$("#organism").change(display_locus_tag);
$("#organism").change(toggle_file_upload);

display_locus_tag();
toggle_file_upload();

</script>
{% endblock %}
