{% extends "layout.html" %}
{% block toollogo %}
<a href="{{url_for('index')}}"><img src="{{url_for('static', filename='tools.svg')}}"></a>
{% endblock %}
{% block body %}
<div class="page-header">
  <h1>Biotech T&uuml;bingen Web Tools</h1>
</div>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ url_for('get_feature') }}">GetFeature - Get a feature from a genome by locus tag</a></li>
      <li class="list-group-item"><a href="{{ url_for('blast') }}">BLAST - Search internal genomes</a></li>
    </ul>
{% endblock %}
