<!doctype html>
<html>
<head>
<title>Web Tools{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#webtools-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('index')}}">WebTools</a>
      </div>
      <div class="collapse navbar-collapse" id="webtools-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{url_for('get_feature')}}">Get Feature</a></li>
          <li><a href="{{url_for('blast')}}">BLAST</a></li>
        </ul>
      </div>

    </nav>
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  {% block body %}{% endblock %}
  <div class="well well-sm"><div class="center-block">Copyright &copy; 2011-2014 Kai Blin &lt;kai.blin(at)biotech.uni-tuebingen.de&gt; Biotechnologie/Mikrobiologie IMIT.</div></div>
  </div>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
